<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="categories.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true">
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
      <requiredRuntime version="v4.0.20506" />
    </startup>
  <connectionStrings>
    <add name="db" connectionString="Data Source=categoriesDatabase.db;Version=3;New=False;Compress=True;"/>
  </connectionStrings>

  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <categories.My.MySettings>
      <setting name="ebayCategories_com_ebay_developer_eBayAPIInterfaceService"
        serializeAs="String">
        <value>https://api.ebay.com/wsapi</value>
      </setting>
    </categories.My.MySettings>
  </applicationSettings>
</configuration>